# Credit Risk Modelling For Loan Data 2007-2014

In [1]:
import pandas as pd
import numpy as np

In [2]:
loan_data_backup=pd.read_csv("loan_data_2007_2014.csv")

C:\Users\Admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# create a copy of the data for preprocessing and modelling
loan_data=loan_data_backup.copy()

In [4]:
loan_data

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,...,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,...,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,...,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,...,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,...,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

In [5]:
# show all columns 
pd.options.display.max_columns=None

In [6]:
loan_data

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.00,0.00,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.00,0.00,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.00,0.00,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.90,766.90,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,Financial Advisor,4 years,MORTGAGE,110000.0,Source Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,773xx,TX,19.85,0.0,Apr-03,2.0,NaN,NaN,18.0,0.0,23208,77.6,36.0,w,12574.00,12574.00,10383.360000,10383.36,5826.00,4557.36,0.00,0.00,0.00,Jan-16,432.64,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,294998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,Chief of Interpretation (Park Ranger),10+ years,MORTGAGE,78000.0,Verified,Jan-14,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,377xx,TN,18.45,0.0,Jun-97,5.0,NaN,116.0,18.0,1.0,18238,46.3,30.0,f,0.00,0.00,4677.920000,4677.92,1837.04,2840.88,0.00,0.00,0.00,Dec-14,17.50,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,221830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,patrol,7 years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/06/13 > I am going to c...,debt_consolidation,Debt consolidation,458xx,OH,25.65,0.0,Dec-01,2.0,65.0,NaN,18.0,0.0,6688,51.1,43.0,f,14428.31,14428.31,12343.980000,12343.98,6271.69,6072.29,0.00,0.00,0.00,Jan-16,514.34,Feb-16,Dec-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,73598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,Server Engineer Lead,3 years,OWN,83000.0,Verified,Jan-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,913xx,CA,5.39,3.0,Feb-03,1.0,13.0,NaN,21.0,0.0,11404,21.5,27.0,w,0.00,0.00,2126.579838,2126.58,2000.00,126.58,0.00,0.00,0.00,Dec-14,1500.68,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,591610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,NaN,10+ years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/13 > I will like a l...,other,Other,950xx,CA,22.78,1.0,Feb-00,0.0,9.0,NaN,6.0,0.0,11325,70.8,22.0,f,3984.38,3974.41,8821.620000,8799.57,6015.62,2806.00,0.00,0.00,0.00,Jan-16,367.58,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,57477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

In [7]:
loan_data.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype='object')

In [8]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
Unnamed: 0                     466285 non-null int64
id                             466285 non-null int64
member_id                      466285 non-null int64
loan_amnt                      466285 non-null int64
funded_amnt                    466285 non-null int64
funded_amnt_inv                466285 non-null float64
term                           466285 non-null object
int_rate                       466285 non-null float64
installment                    466285 non-null float64
grade                          466285 non-null object
sub_grade                      466285 non-null object
emp_title                      438697 non-null object
emp_length                     445277 non-null object
home_ownership                 466285 non-null object
annual_inc                     466281 non-null float64
verification_status            466285 non-null object
issue_d                        466285 non-null object
loan_status                    466285 non-null object
pymnt_plan                     466285 non-null object
url                            466285 non-null object
desc                           125983 non-null object
purpose                        466285 non-null object
title                          466265 non-null object
zip_code                       466285 non-null object
addr_state                     466285 non-null object
dti                            466285 non-null float64
delinq_2yrs                    466256 non-null float64
earliest_cr_line               466256 non-null object
inq_last_6mths                 466256 non-null float64
mths_since_last_delinq         215934 non-null float64
mths_since_last_record         62638 non-null float64
open_acc                       466256 non-null float64
pub_rec                        466256 non-null float64
revol_bal                      466285 non-null int64
revol_util                     465945 non-null float64
total_acc                      466256 non-null float64
initial_list_status            466285 non-null object
out_prncp                      466285 non-null float64
out_prncp_inv                  466285 non-null float64
total_pymnt                    466285 non-null float64
total_pymnt_inv                466285 non-null float64
total_rec_prncp                466285 non-null float64
total_rec_int                  466285 non-null float64
total_rec_late_fee             466285 non-null float64
recoveries                     466285 non-null float64
collection_recovery_fee        466285 non-null float64
last_pymnt_d                   465909 non-null object
last_pymnt_amnt                466285 non-null float64
next_pymnt_d                   239071 non-null object
last_credit_pull_d             466243 non-null object
collections_12_mths_ex_med     466140 non-null float64
mths_since_last_major_derog    98974 non-null float64
policy_code                    466285 non-null int64
application_type               466285 non-null object
annual_inc_joint               0 non-null float64
dti_joint                      0 non-null float64
verification_status_joint      0 non-null float64
acc_now_delinq                 466256 non-null float64
tot_coll_amt                   396009 non-null float64
tot_cur_bal                    396009 non-null float64
open_acc_6m                    0 non-null float64
open_il_6m                     0 non-null float64
open_il_12m                    0 non-null float64
open_il_24m                    0 non-null float64
mths_since_rcnt_il             0 non-null float64
total_bal_il                   0 non-null float64
il_util                        0 non-null float64
open_rv_12m                    0 non-null float64
open_rv_24m                    0 non-null float64
max_bal_bc                     0 non-null float64
all_util                       0 non-null float64
total_rev_hi_lim               396009 non-null float64
inq_fi                         0 non-null float64
total_cu_tl                    0 non-null float64
inq_last_12m                   0 non-null float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

In [9]:
loan_data['emp_length'].unique() # convert to integer by removng the years string

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [10]:
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')

In [11]:
# check data type of the first element
type(loan_data['emp_length_int'][0])

str

In [12]:
# change to numeric data type
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])

In [13]:
type(loan_data['emp_length_int'][0])

numpy.float64

Date times

In [14]:
loan_data['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [15]:
# turn string to time stamp
loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format='%b-%y')
# %b returns the first 3 letters in a month
# %y returns the last 2 digits of the year

In [16]:
type(loan_data['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [17]:
# time difference as per 2017 (days)
pd.to_datetime('2017-12-01')-loan_data['earliest_cr_line_date']

0        12022 days
1         6819 days
2         5874 days
3         7974 days
4         8005 days
            ...
466280    5358 days
466281    7488 days
466282    5844 days
466283    5417 days
466284    6513 days
Name: earliest_cr_line_date, Length: 466285, dtype: timedelta64[ns]

In [18]:
# get the time difference (months) and round to whole number integers
loan_data['mnths_since_earliest_cr_line'] = round((pd.to_datetime('2017-12-01')-loan_data['earliest_cr_line_date']) / np.timedelta64(1, 'M'))

In [19]:
loan_data['mnths_since_earliest_cr_line'].describe()

count    466256.000000
mean        239.482430
std          93.974829
min        -612.000000
25%         183.000000
50%         225.000000
75%         285.000000
max         587.000000
Name: mnths_since_earliest_cr_line, dtype: float64

In [20]:
# locate the date difference less tha zero
loan_data.loc[:, ['earliest_cr_line', 'earliest_cr_line_date', 'mnths_since_earliest_cr_line']][loan_data['mnths_since_earliest_cr_line'] < 0]

       earliest_cr_line earliest_cr_line_date  mnths_since_earliest_cr_line
1580             Sep-62            2062-09-01                        -537.0
1770             Sep-68            2068-09-01                        -609.0
2799             Sep-64            2064-09-01                        -561.0
3282             Sep-67            2067-09-01                        -597.0
3359             Feb-65            2065-02-01                        -566.0
...                 ...                   ...                           ...
464003           Jan-68            2068-01-01                        -601.0
464260           Jul-66            2066-07-01                        -583.0
465100           Oct-67            2067-10-01                        -598.0
465500           Sep-67            2067-09-01                        -597.0
465655           Jan-56            2056-01-01                        -457.0

[1169 rows x 3 columns]

In [21]:
# we assign all observations with values less zero with the maximum of the months since earliest cr line
loan_data['mnths_since_earliest_cr_line'][loan_data['mnths_since_earliest_cr_line'] < 0] = loan_data['mnths_since_earliest_cr_line'].max()

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
min(loan_data['mnths_since_earliest_cr_line'])

73.0

In [23]:
loan_data['term']

0          36 months
1          60 months
2          36 months
3          36 months
4          60 months
             ...
466280     60 months
466281     60 months
466282     60 months
466283     36 months
466284     36 months
Name: term, Length: 466285, dtype: object

In [24]:
# change the term variable to numeric
loan_data['term_int'] = loan_data['term'].str.replace(' months', '')

In [25]:
loan_data['term_int'] = pd.to_numeric(loan_data['term_int']) # convert to numeric

In [26]:
type(loan_data['term_int'][0]) # check the data type

numpy.int64

In [27]:
loan_data['issue_d']

0         Dec-11
1         Dec-11
2         Dec-11
3         Dec-11
4         Dec-11
           ...
466280    Jan-14
466281    Jan-14
466282    Jan-14
466283    Jan-14
466284    Jan-14
Name: issue_d, Length: 466285, dtype: object

In [28]:
loan_data['issue_d'] = pd.to_datetime(loan_data['issue_d'], format='%b-%y')

In [29]:
type(loan_data['issue_d'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [30]:
pd.to_datetime('2017-12-01')-loan_data['issue_d']

0        2192 days
1        2192 days
2        2192 days
3        2192 days
4        2192 days
            ...
466280   1430 days
466281   1430 days
466282   1430 days
466283   1430 days
466284   1430 days
Name: issue_d, Length: 466285, dtype: timedelta64[ns]

In [31]:
# time difference in months
loan_data['mths_since_issue_d'] = round((pd.to_datetime('2017-12-01')-loan_data['issue_d']) / np.timedelta64(1, 'M'))

In [32]:
loan_data['mths_since_issue_d'].describe()

count    466285.000000
mean         51.255187
std          14.340154
min          36.000000
25%          41.000000
50%          47.000000
75%          57.000000
max         126.000000
Name: mths_since_issue_d, dtype: float64

In [33]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 80 columns):
Unnamed: 0                      466285 non-null int64
id                              466285 non-null int64
member_id                       466285 non-null int64
loan_amnt                       466285 non-null int64
funded_amnt                     466285 non-null int64
funded_amnt_inv                 466285 non-null float64
term                            466285 non-null object
int_rate                        466285 non-null float64
installment                     466285 non-null float64
grade                           466285 non-null object
sub_grade                       466285 non-null object
emp_title                       438697 non-null object
emp_length                      445277 non-null object
home_ownership                  466285 non-null object
annual_inc                      466281 non-null float64
verification_status             466285 non-null object
issue_d                         466285 non-null datetime64[ns]
loan_status                     466285 non-null object
pymnt_plan                      466285 non-null object
url                             466285 non-null object
desc                            125983 non-null object
purpose                         466285 non-null object
title                           466265 non-null object
zip_code                        466285 non-null object
addr_state                      466285 non-null object
dti                             466285 non-null float64
delinq_2yrs                     466256 non-null float64
earliest_cr_line                466256 non-null object
inq_last_6mths                  466256 non-null float64
mths_since_last_delinq          215934 non-null float64
mths_since_last_record          62638 non-null float64
open_acc                        466256 non-null float64
pub_rec                         466256 non-null float64
revol_bal                       466285 non-null int64
revol_util                      465945 non-null float64
total_acc                       466256 non-null float64
initial_list_status             466285 non-null object
out_prncp                       466285 non-null float64
out_prncp_inv                   466285 non-null float64
total_pymnt                     466285 non-null float64
total_pymnt_inv                 466285 non-null float64
total_rec_prncp                 466285 non-null float64
total_rec_int                   466285 non-null float64
total_rec_late_fee              466285 non-null float64
recoveries                      466285 non-null float64
collection_recovery_fee         466285 non-null float64
last_pymnt_d                    465909 non-null object
last_pymnt_amnt                 466285 non-null float64
next_pymnt_d                    239071 non-null object
last_credit_pull_d              466243 non-null object
collections_12_mths_ex_med      466140 non-null float64
mths_since_last_major_derog     98974 non-null float64
policy_code                     466285 non-null int64
application_type                466285 non-null object
annual_inc_joint                0 non-null float64
dti_joint                       0 non-null float64
verification_status_joint       0 non-null float64
acc_now_delinq                  466256 non-null float64
tot_coll_amt                    396009 non-null float64
tot_cur_bal                     396009 non-null float64
open_acc_6m                     0 non-null float64
open_il_6m                      0 non-null float64
open_il_12m                     0 non-null float64
open_il_24m                     0 non-null float64
mths_since_rcnt_il              0 non-null float64
total_bal_il                    0 non-null float64
il_util                         0 non-null float64
open_rv_12m                     0 non-null float64
open_rv_24m                     0 non-null float64
max_bal_bc                      0 non-null float64
all_util                        0 non-null float64
total_rev_hi_lim                396009 non-null float64
inq_fi                          0 non-null float64
total_cu_tl                     0 non-null float64
inq_last_12m                    0 non-null float64
emp_length_int                  445277 non-null float64
earliest_cr_line_date           466256 non-null datetime64[ns]
mnths_since_earliest_cr_line    466256 non-null float64
term_int                        466285 non-null int64
mths_since_issue_d              466285 non-null float64
dtypes: datetime64[ns](2), float64(49), int64(8), object(21)
memory usage: 284.6+ MB

In [34]:
pd.get_dummies(loan_data['grade'], prefix='grade', prefix_sep=':')

        grade:A  grade:B  grade:C  grade:D  grade:E  grade:F  grade:G
0             0        1        0        0        0        0        0
1             0        0        1        0        0        0        0
2             0        0        1        0        0        0        0
3             0        0        1        0        0        0        0
4             0        1        0        0        0        0        0
...         ...      ...      ...      ...      ...      ...      ...
466280        0        0        1        0        0        0        0
466281        0        0        0        1        0        0        0
466282        0        0        0        1        0        0        0
466283        1        0        0        0        0        0        0
466284        0        0        0        1        0        0        0

[466285 rows x 7 columns]

In [35]:
# create a list of dummies of all the categorical variable
loan_data_dummies = [pd.get_dummies(loan_data['grade'], prefix='grade', prefix_sep=':'), 
                     pd.get_dummies(loan_data['sub_grade'], prefix='sub_grade', prefix_sep=':'),
                     pd.get_dummies(loan_data['home_ownership'], prefix='home_ownership', prefix_sep=':'),
                     pd.get_dummies(loan_data['verification_status'], prefix='verification_status', prefix_sep=':'),
                     pd.get_dummies(loan_data['loan_status'], prefix='loan_status', prefix_sep=':'),
                     pd.get_dummies(loan_data['purpose'], prefix='purpose', prefix_sep=':'),
                     pd.get_dummies(loan_data['addr_state'], prefix='addr_state', prefix_sep=':'),
                     pd.get_dummies(loan_data['initial_list_status'], prefix='initial_list_status', prefix_sep=':')]

In [36]:
# convert dummy variable to dataframe
loan_data_dummies = pd.concat(loan_data_dummies, axis=1)

In [37]:
type(loan_data_dummies)

pandas.core.frame.DataFrame

In [38]:
loan_data = pd.concat([loan_data, loan_data_dummies], axis=1)

In [39]:
loan_data.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       ...
       'addr_state:TX', 'addr_state:UT', 'addr_state:VA', 'addr_state:VT',
       'addr_state:WA', 'addr_state:WI', 'addr_state:WV', 'addr_state:WY',
       'initial_list_status:f', 'initial_list_status:w'],
      dtype='object', length=206)

In [40]:
loan_data.isnull().any().sum() # check for any null school

43

In [41]:
pd.options.display.max_rows=None
loan_data.isnull().any() # display the variable having null values

Unnamed: 0                                                         False
id                                                                 False
member_id                                                          False
loan_amnt                                                          False
funded_amnt                                                        False
funded_amnt_inv                                                    False
term                                                               False
int_rate                                                           False
installment                                                        False
grade                                                              False
sub_grade                                                          False
emp_title                                                           True
emp_length                                                          True
home_ownership                                                     False
annual_inc                                                          True
verification_status                                                False
issue_d                                                            False
loan_status                                                        False
pymnt_plan                                                         False
url                                                                False
desc                                                                True
purpose                                                            False
title                                                               True
zip_code                                                           False
addr_state                                                         False
dti                                                                False
delinq_2yrs                                                         True
earliest_cr_line                                                    True
inq_last_6mths                                                      True
mths_since_last_delinq                                              True
mths_since_last_record                                              True
open_acc                                                            True
pub_rec                                                             True
revol_bal                                                          False
revol_util                                                          True
total_acc                                                           True
initial_list_status                                                False
out_prncp                                                          False
out_prncp_inv                                                      False
total_pymnt                                                        False
total_pymnt_inv                                                    False
total_rec_prncp                                                    False
total_rec_int                                                      False
total_rec_late_fee                                                 False
recoveries                                                         False
collection_recovery_fee                                            False
last_pymnt_d                                                        True
last_pymnt_amnt                                                    False
next_pymnt_d                                                        True
last_credit_pull_d                                                  True
collections_12_mths_ex_med                                          True
mths_since_last_major_derog                                         True
policy_code                                                        False
application_type                                                   False
annual_inc_joint                                                    True
dti_joint                                                           True
verification_status_joint                                           True
acc_now_delinq                                                      True
tot_coll_amt                                                        True
tot_cur_bal                                                         True
open_acc_6m                                                         True
open_il_6m                                                          True
open_il_12m                                                         True
open_il_24m                                                         True
mths_since_rcnt_il                                                  True
total_bal_il                                                        True
il_util                                                             True
open_rv_12m                                                         True
open_rv_24m                                                         True
max_bal_bc                                                          True
all_util                                                            True
total_rev_hi_lim                                                    True
inq_fi                                                              True
total_cu_tl                                                         True
inq_last_12m                                                        True
emp_length_int                                                      True
earliest_cr_line_date                                               True
mnths_since_earliest_cr_line                                        True
term_int                                                           False
mths_since_issue_d                                                 False
grade:A                                                            False
grade:B                                                            False
grade:C                                                            False
grade:D                                                            False
grade:E                                                            False
grade:F                                                            False
grade:G                                                            False
sub_grade:A1                                                       False
sub_grade:A2                                                       False
sub_grade:A3                                                       False
sub_grade:A4                                                       False
sub_grade:A5                                                       False
sub_grade:B1                                                       False
sub_grade:B2                                                       False
sub_grade:B3                                                       False
sub_grade:B4                                                       False
sub_grade:B5                                                       False
sub_grade:C1                                                       False
sub_grade:C2                                                       False
sub_grade:C3                                                       False
sub_grade:C4                                                       False
sub_grade:C5                                                       False
sub_grade:D1                                                       False
sub_grade:D2                                                       False
sub_grade:D3                                                       False
sub_grade:D4                                                       False
sub_grade:D5                                                       False
sub_grade:E1                                                       False
sub_grade:E2                                                       False
sub_grade:E3                                                       False
sub_grade:E4                                                       False
sub_grade:E5                                                       False
sub_grade:F1                                                       False
sub_grade:F2                                                       False
sub_grade:F3                                                       False
sub_grade:F4                                                       False
sub_grade:F5                                                       False
sub_grade:G1                                                       False
sub_grade:G2                                                       False
sub_grade:G3                                                       False
sub_grade:G4                                                       False
sub_grade:G5                                                       False
home_ownership:ANY                                                 False
home_ownership:MORTGAGE                                            False
home_ownership:NONE                                                False
home_ownership:OTHER                                               False
home_ownership:OWN                                                 False
home_ownership:RENT                                                False
verification_status:Not Verified                                   False
verification_status:Source Verified                                False
verification_status:Verified                                       False
loan_status:Charged Off                                            False
loan_status:Current                                                False
loan_status:Default                                                False
loan_status:Does not meet the credit policy. Status:Charged Off    False
loan_status:Does not meet the credit policy. Status:Fully Paid     False
loan_status:Fully Paid                                             False
loan_status:In Grace Period                                        False
loan_status:Late (16-30 days)                                      False
loan_status:Late (31-120 days)                                     False
purpose:car                                                        False
purpose:credit_card                                                False
purpose:debt_consolidation                                         False
purpose:educational                                                False
purpose:home_improvement                                           False
purpose:house                                                      False
purpose:major_purchase                                             False
purpose:medical                                                    False
purpose:moving                                                     False
purpose:other                                                      False
purpose:renewable_energy                                           False
purpose:small_business                                             False
purpose:vacation                                                   False
purpose:wedding                                                    False
addr_state:AK                                                      False
addr_state:AL                                                      False
addr_state:AR                                                      False
addr_state:AZ                                                      False
addr_state:CA                                                      False
addr_state:CO                                                      False
addr_state:CT                                                      False
addr_state:DC                                                      False
addr_state:DE                                                      False
addr_state:FL                                                      False
addr_state:GA                                                      False
addr_state:HI                                                      False
addr_state:IA                                                      False
addr_state:ID                                                      False
addr_state:IL                                                      False
addr_state:IN                                                      False
addr_state:KS                                                      False
addr_state:KY                                                      False
addr_state:LA                                                      False
addr_state:MA                                                      False
addr_state:MD                                                      False
addr_state:ME                                                      False
addr_state:MI                                                      False
addr_state:MN                                                      False
addr_state:MO                                                      False
addr_state:MS                                                      False
addr_state:MT                                                      False
addr_state:NC                                                      False
addr_state:NE                                                      False
addr_state:NH                                                      False
addr_state:NJ                                                      False
addr_state:NM                                                      False
addr_state:NV                                                      False
addr_state:NY                                                      False
addr_state:OH                                                      False
addr_state:OK                                                      False
addr_state:OR                                                      False
addr_state:PA                                                      False
addr_state:RI                                                      False
addr_state:SC                                                      False
addr_state:SD                                                      False
addr_state:TN                                                      False
addr_state:TX                                                      False
addr_state:UT                                                      False
addr_state:VA                                                      False
addr_state:VT                                                      False
addr_state:WA                                                      False
addr_state:WI                                                      False
addr_state:WV                                                      False
addr_state:WY                                                      False
initial_list_status:f                                              False
initial_list_status:w                                              False
dtype: bool

In [42]:
pd.options.display.max_rows=None

In [43]:
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'], inplace=True)

In [44]:
# replace all missing values with their means
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(), inplace=True)
loan_data['mnths_since_earliest_cr_line'].fillna(loan_data['mnths_since_earliest_cr_line'].mean(), inplace=True)
loan_data['acc_now_delinq'].fillna(loan_data['acc_now_delinq'].mean(), inplace=True)
loan_data['total_acc'].fillna(loan_data['total_acc'].mean(), inplace=True)
loan_data['pub_rec'].fillna(loan_data['pub_rec'].mean(), inplace=True)
loan_data['open_acc'].fillna(loan_data['open_acc'].mean(), inplace=True)
loan_data['inq_last_6mths'].fillna(loan_data['inq_last_6mths'].mean(), inplace=True)
loan_data['delinq_2yrs'].fillna(loan_data['delinq_2yrs'].mean(), inplace=True)
loan_data['emp_length_int'].fillna(loan_data['emp_length_int'].mean(), inplace=True)

## Data preparation for model training

In [45]:
# check the dependent variable loan status
loan_data['loan_status'].unique()
# fully paid, current, in grace perod are all good among others

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [46]:
# get total of counts for each unque value in loan status
loan_data['loan_status'].value_counts()

Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [47]:
# value proportion for each count category
loan_data['loan_status'].value_counts() / loan_data['loan_status'].count()

Current                                                0.480878
Fully Paid                                             0.396193
Charged Off                                            0.091092
Late (31-120 days)                                     0.014798
In Grace Period                                        0.006747
Does not meet the credit policy. Status:Fully Paid     0.004263
Late (16-30 days)                                      0.002612
Default                                                0.001784
Does not meet the credit policy. Status:Charged Off    0.001632
Name: loan_status, dtype: float64

In [48]:
# create a variable of only 0 (bad) and 1 (good)
loan_data['good_bad'] = np.where(loan_data['loan_status'].isin(['Charged Off', 'Late (31-120 days)', 
                                                                'Does not meet the credit policy. Status:Charged Off', 
                                                                'Default']), 0, 1)

In [49]:
from sklearn.model_selection import train_test_split
trainX, testX, trainY, testY = train_test_split(loan_data.drop('good_bad', axis=1), loan_data['good_bad'], 
                                                test_size=0.2, random_state=42)

In [50]:
# check dimensions of the split dataframes
print('trainX: ', trainX.shape, 'trainY: ', trainY.shape, 'testX: ', testX.shape, 'testY: ', testY.shape)

trainX:  (373028, 206) trainY:  (373028,) testX:  (93257, 206) testY:  (93257,)

In [51]:
trainX.to_csv('trainX.csv', index=None, header=True)
trainY.to_csv('trainY.csv', index=None, header=True)
testX.to_csv('testX.csv', index=None, header=True)
testY.to_csv('testY.csv', index=None, header=True)